@model List<ShopItem>

<h4>All shop items</h4>
<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Name</th>
      <th scope="col">Shop name</th>
      <th scope="col">Expiry date</th>
      <th scope="col">Remove</th>
    </tr>
   </thead>
   <tbody
        @foreach(var shopItem in @model)
        {
          <tr>
            <th scope="row"></th>
            <td>@shopItem.name</td>
            <td>@shopItem.shopName</td>
            <td>@shopItem.expiryDate</td>
            <td>@Html.ActionLink("Delete", "Delete", "ShopItem", new { Name = @shopItem.name})</td>
          </tr>
        }
    </tbody>
</table>