@model ShopItem

<h3>Add an item</h3>

@using (Html.BeginForm("Add", "Shop", FormMethod.Post))
{
    <div class="form-group">
	    @Html.Label("Merchandise name")
        @Html.TextBoxFor(a => a.name)

        @Html.Label("Shop name")
        @Html.TextBoxFor(a => a.shopName)

        @Html.Label("Expiry date")
        @Html.TextBoxFor(a => a.expiryDate)
    </div>
    
    <input type="submit" value="Submit"/>

}