@model List<ShopItem>

<h4>All shop items</h4>

<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Name</th>
      <th scope="col">Shop name</th>
      <th scope="col">Expiry date</th>
      <th scope="col">Remove</th>
    </tr>
   </thead>
   <tbody>
        @foreach(var shopItem in @Model)
        {
          <tr>
            <th scope="row">@shopItem.Id</th>
            <td>@shopItem.Name</td>
            <td>@shopItem.ShopName</td>
            <td>@shopItem.ExpiryDate</td>
            <td>@Html.ActionLink("Edit", "Edit", "Shop", new {id = @shopItem.Id})</td>
            <td>@Html.ActionLink("Delete", "Remove", "Shop", new { Name = @shopItem.Name})</td>
          </tr>
        }
    </tbody>
</table>